[submodule "contracts/Catalyst/lib/forge-std"]
	path = contracts/Catalyst/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Catalyst-contracts/lib/forge-std"]
	path = Catalyst-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Catalyst-contracts/lib/openzeppelin-contracts"]
	path = Catalyst-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
