[submodule "contracts/Catalyst/lib/forge-std"]
	path = contracts/Catalyst/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Catalyst-contracts/lib/forge-std"]
	path = Catalyst-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Catalyst-contracts/lib/openzeppelin-contracts"]
	path = Catalyst-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Catalyst-contracts/lib/v3-sdk"]
	path = Catalyst-contracts/lib/v3-sdk
	url = https://github.com/uniswap/v3-sdk
[submodule "Catalyst-contracts/lib/sdk-core"]
	path = Catalyst-contracts/lib/sdk-core
	url = https://github.com/uniswap/sdk-core
[submodule "Catalyst-contracts/lib/solidity-bytes-utils"]
	path = Catalyst-contracts/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
